.root {
    -fx-base: #ececec;
    -fx-background: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2%);
    -fx-text-background-color: #000000;
    -fx-accent: #0078d7;
}

.label, .menu-bar .label, .menu .label, .titled-pane > .title > .text {
    -fx-text-fill: -fx-text-background-color;
}

.text-input .content,
.text-area .content {
    -fx-background-color: -fx-control-inner-background;
}

.list-cell {
    -fx-text-fill: -fx-text-background-color;
}

.list-cell:filled:selected {
    -fx-text-fill: white;
}

.titled-pane > .content {
    -fx-background-color: -fx-background;
}